<div id="work-container">
  <div class="title">{{ "Projects I’ve worked on" }}</div>
  <div class="project-cards">
    <app-card
      [url]="'https://taskfit.com'"
      [imgUrl]="'../../assets/images/taskfit.png'"
      [title]="'taskfit app'"
    ></app-card>
    <app-card
      [url]="'https://www.otpfayalapitvany.hu/web/home'"
      [imgUrl]="'../../assets/images/otp.png'"
      [title]="'OTP Fay Andras website'"
    ></app-card>
    <app-card
      [url]="'https://www.kapcsoljegybol.hu/mobilalkalmazas'"
      [imgUrl]="'../../assets/images/kapcsolj.png'"
      [title]="'Kapcsolj egyből'"
    ></app-card>
    <app-card
      [url]="'https://epdsplus.hu/en'"
      [imgUrl]="'../../assets/images/epds+.png'"
      [title]="'EPDS+'"
    ></app-card>
    <app-card
      [url]="'https://barcraft.eu'"
      [imgUrl]="'../../assets/images/barcraft.png'"
      [title]="'Barcraft website'"
    ></app-card>
    <app-card
      [url]="'https://www.nng.com/navigation'"
      [imgUrl]="'../../assets/images/nng.png'"
      [title]="'NNG navigation'"
    ></app-card>
  </div>
</div>
