<div class="sidebar-body">
  <div class="logo-container">
    <img
      src="../../../assets/images/logo.svg"
      class="logo"
      alt="logo"
      (click)="scrollToHome()"
    />
  </div>
  <div id="work-menu" class="menu-item" (click)="scrollToWork()">Work</div>
  <div id="skills-menu" class="menu-item" (click)="scrollToSkills()">
    Skills
  </div>
  <div id="about-menu" class="menu-item" (click)="scrollToAbout()">About</div>
  <div id="contact-menu" class="menu-item" (click)="scrollToContact()">
    Contact
  </div>
</div>
