<div id="skills-container">
  <div class="title">{{ "My Skills" }}</div>
  <div class="content-container">
    <div class="skills-text">
      <span class="line-1"
        >I create successful responsive websites that are fast, easy to use, and
        built with best practices. The main area of my expertise is front-end
        development. I have several years experience with modern web
        frameworks/libraries like
        <span class="skill-link" (mouseenter)="showSkill('angular-skill')"
          >Angular</span
        >
        and
        <span class="skill-link" (mouseenter)="showSkill('react-skill')"
          >React</span
        >. I usually build small and medium web apps, features, animations, and
        code interactive layouts.</span
      >
      <br /><br />
      <span class="line-2"
        >I also have full-stack developer experience with
        <span class="skill-link" (mouseenter)="showSkill('nodejs-skill')"
          >Node.js</span
        >
        and NoSQL databases.</span
      >
      <br /><br />
      <span class="line-3"
        >You can see my full work experience and detailed skills list in my
        CV.</span
      >
    </div>
    <div class="skills-animation">
      <div id="skills-canvas-container">
        <canvas width="500" height="500" id="skills-canvas"></canvas>
      </div>
      <div id="skill-list">
        <ul>
          <li><a id="angular-skill">Angular</a></li>
          <li><a>NgRx</a></li>
          <li><a>Rxjs</a></li>
          <li><a id="react-skill">React</a></li>
          <li><a>Redux</a></li>
          <li><a id="nodejs-skill">Node.js</a></li>
          <li><a>MongoDB</a></li>
          <li><a>Mongoose</a></li>
          <li><a>Typescript</a></li>
          <li><a>Javascript</a></li>
          <li><a>ES6</a></li>
          <li><a>GA</a></li>
          <li><a>Html5</a></li>
          <li><a>CSS3</a></li>
          <li><a>Sass</a></li>
          <li><a>Vue.js</a></li>
          <li><a>jQuery</a></li>
          <li><a>Bootstrap</a></li>
          <li><a>Git</a></li>
          <li><a>SVN</a></li>
          <li><a>Nx</a></li>
          <li><a>Lua</a></li>
          <li><a>Selenium</a></li>
          <li><a>Jest.js</a></li>
          <li><a>Jasmine</a></li>
          <li><a>Karma</a></li>
          <li><a>Gulp.js</a></li>
        </ul>
      </div>
    </div>
    <div class="cv-download-container">
      <a href="../../../assets/files/CV_Abel_Toth.pdf" target="_blank"
        ><button class="download-cv-button">Open my CV</button></a
      >
    </div>
  </div>
</div>
