<ng-particles [id]="'tsparticles'" [options]="particlesOptions"></ng-particles>
<div id="home-container">
  <div class="intro-container noselect">
    <h1 class="introduction line-1">Hi,</h1>
    <h1 class="introduction line-2">
      <span class="text-before-logo">I’m </span>
      <img src="assets/images/logo.svg" class="logo" />
      <span class="text-after-logo">bel,</span>
    </h1>
    <h1 class="introduction line-3">web developer</h1>
    <h4 class="job-title">Full Stack Developer / Software Engineer</h4>
    <button class="action-button" (click)="scrollToWork()">
      {{ "View my work" }}
      <mat-icon aria-hidden="false" aria-label="Arrow forward"
        >arrow_forward</mat-icon
      >
    </button>
  </div>
</div>
