@import "~src/variables";

h1,
h4 {
  margin: 0;
}

#home-container {
  padding: 50px 150px;
  display: grid;
  height: 100vh;
}

.intro-container {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.introduction,
.job-title {
  font-weight: 400;
  z-index: 10;
  display: flex;
  width: fit-content;
}

.introduction {
  font-size: 80px;
  line-height: 96px;
}

.introduction.line-2 {
  display: flex;
  align-items: baseline;
}

.logo {
  height: 80px;
  position: relative;
  top: 1px;
  left: 12px;
}

.text-after-logo {
  position: relative;
  left: 12px;
}

.job-title {
  font-size: 32px;
  margin: 32px 0;
}

.action-button {
  width: 256px;
  height: 64px;
  font-size: 22px;
  font-weight: 400;
  margin-top: 32px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transition-duration: 0.5s;
  z-index: 10;
}

.action-button:hover > .mat-icon {
  transform: rotate(90deg);
}

ng-particles {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

mat-icon {
  font-size: 22px;
  line-height: 25px;
  display: table;
  transition-duration: 0.5s;
}

@media (max-width: 767.98px) {
  #home-container {
    padding: 32px;
  }
}

@media (max-width: 575.98px) {
  #home-container {
    padding: 16px;
  }

  .intro-container {
    width: fit-content;
    margin: 0 auto;
  }

  .logo {
    height: 55px;
  }

  .introduction {
    font-size: 55px;
    line-height: 70px;
  }

  .job-title {
    font-size: 22px;
  }

  .action-button {
    margin-left: auto;
    margin-right: auto;
  }
}
