<div id="about-container">
  <div class="title">{{ "About me" }}</div>
  <div class="content-container">
    <div class="about-text">
      I’m a Web Developer located in Hungary. I have a passion for creating
      intuitive, dynamic user experiences.
      <br /><br />
      During the day I’m a software engineer at a large company. During the
      evenings I spend my time working on freelance projects and building my own
      products.
      <br /><br />
      Interested in the entire frontend spectrum and working on ambitious
      projects with positive people.
      <br /><br />
      Let’s create something great!
    </div>
    <img src="../../../assets/images/me.png" class="profile-img" alt="Me" />
  </div>
</div>
