#about-container {
  display: grid;
}

.title {
  margin-bottom: 32px;
  text-align: center;
  font-size: 32px;
}

.content-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 32px 60px;
  align-items: center;
  justify-items: center;
  column-gap: 60px;
  row-gap: 32px;
}

.about-text {
  font-size: 20px;
}

.profile-img {
  height: 500px;
  width: 500px;
  object-fit: cover;
  border-radius: 10px;
}

@media (max-width: 1199.98px) {
  .content-container {
    column-gap: 32px;
  }

  .profile-img {
    height: 350px;
    width: 350px;
  }
}

@media (max-width: 991.98px) {
  .content-container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 575.98px) {
  .content-container {
    margin-left: 16px;
    margin-right: 16px;
  }

  .profile-img {
    height: 80vw;
    width: 80vw;
  }
}
